<app-technicians-header [title]="'Add Technician'"></app-technicians-header>

<pre>
  status: {{form.status}}
  errors: {{form.errors}}
</pre>

<div class="card">
  <div class="card-body">

    <form [formGroup]="form">

      <div class="form-group" [class.was-validated]="firstName.dirty">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" formControlName="firstName" required minlength="4">

        <div class="errors" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
          <pre>{{firstName.errors | json}}</pre>
          <small class="form-text text-danger">Required</small>
          <small class="form-text text-danger">Min Length</small>
        </div>

      </div>

      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" formControlName="last_name" required>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" formControlName="email" required>
      </div>





      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Create</button>
      </div>

    </form>

    <b>Form value:</b>
    <pre>{{ form.value | json }}</pre>
    <b>Value:</b>
    <pre>{{form.get('firstName').value}}</pre>
    <b>Status:</b>
    <pre>{{form.get('firstName').status}}</pre>
    <b>Pristine:</b>
    <pre>{{form.get('firstName').pristine}}</pre>
    <b>Dirty:</b>
    <pre>{{form.get('firstName').dirty}}</pre>
    <b>Untouched:</b>
    <pre>{{form.get('firstName').untouched}}</pre>
    <b>Touched:</b>
    <pre>{{form.get('firstName').touched}}</pre>

    <br>Form status:
    <pre>{{ form.status | json }}</pre>

  </div>
</div>
