<app-technicians-header [title]="'Add Technician'"></app-technicians-header>

<div class="card">
  <div class="card-body">

    <form [formGroup]="form">

      <fieldset class="form-group">
        <legend>User Details</legend>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" formControlName="firstName" required [class.is-invalid]="firstName.invalid && (firstName.dirty || firstName.touched)"
                [class.is-valid]="firstName.valid">
              <div class="invalid-feedback" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                <p class="form-text text-danger" *ngIf="firstName.errors.required">This field is required</p>
                <p class="form-text text-danger" *ngIf="firstName.errors.minlength">
                  First name needs at least
                  <u>{{firstName.errors.minlength.requiredLength}}</u> characters.
                  <b>{{ firstName.errors.minlength.requiredLength - firstName.errors.minlength.actualLength}}</b> to go</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" formControlName="lastName" required [class.is-invalid]="lastName.invalid && (lastName.dirty || lastName.touched)"
                [class.is-valid]="lastName.valid">
              <div class="invalid-feedback" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                <p class="form-text text-danger" *ngIf="lastName.errors.required">This field is required</p>
                <p class="form-text text-danger" *ngIf="lastName.errors.minlength">
                  First name needs at least
                  <u>{{lastName.errors.minlength.requiredLength}}</u> characters.
                  <b>{{ lastName.errors.minlength.requiredLength - lastName.errors.minlength.actualLength}}</b> to go</p>
              </div>
            </div>

          </div>
        </div>

        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <div class="input-group">
            <div class="input-group-prepend was-validated">
              <app-country-calling-code-dropdown (selected)="setPhonePrefix($event)"></app-country-calling-code-dropdown>
            </div>
            <input type="tel" class="form-control" formControlName="phoneNumber" required [class.is-invalid]="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
              [class.is-valid]="phoneNumber.valid" placeholder="E.g. 1234567890">
          </div>
          <div class="small" *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
            <p class="form-text text-danger" *ngIf="phoneNumber.errors.required">This field is required</p>
            <p class="form-text text-danger" *ngIf="phoneNumber.errors.pattern">Invalid format, please enter a valid phone number, e.g. 1234567890</p>
            <p class="form-text text-danger" *ngIf="phoneNumber.errors.minlength">
              Needs at least
              <u>{{phoneNumber.errors.minlength.requiredLength}}</u> characters.
              <b>{{ phoneNumber.errors.minlength.requiredLength - phoneNumber.errors.minlength.actualLength}}</b> to go</p>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" formControlName="email" required [class.is-invalid]="email.invalid && (email.dirty || email.touched)"
            [class.is-valid]="email.valid">
          <div class="invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)">
            <p class="form-text text-danger" *ngIf="email.errors.required">This field is required</p>
            <p class="form-text text-danger" *ngIf="email.errors.email">
              Please enter a valid email address</p>
          </div>
        </div>

        <div class="form-group">
          <label for="status">Status</label>
          <select class="custom-select" formControlName="status" required [class.is-invalid]="status.invalid && (status.dirty || status.touched)"
            [class.is-valid]="status.valid">
            <option value="true" selected>Active</option>
            <option value="false">Inactive</option>
          </select>
          <app-technician-status [status]="status.value" [size]="'small'"></app-technician-status>
          <div class="invalid-feedback" *ngIf="status.invalid && (status.dirty || status.touched)">
            <p class="form-text text-danger" *ngIf="status.errors.required">This field is required</p>
          </div>
        </div>

        <div class="form-group">
          <label for="role">Role</label>
          <select class="custom-select" formControlName="role" [class.is-valid]="role.dirty || role.touched">
            <option value="1" selected>Technician</option>
            <option value="2">Admin</option>
          </select>
        </div>

        <div class="form-group">
          <label for="languagesSpoken">Languages Spoken</label>
          <input type="text" class="form-control" formControlName="languagesSpoken" [class.is-valid]="languagesSpoken.dirty || languagesSpoken.touched">
          <small class="form-text text-muted">Comma separated, e.g.
            <i>Spanish, English, Italian</i>
          </small>
        </div>

      </fieldset>



      <fieldset class="form-group">
        <legend>Address Details</legend>

        <div class="form-group">
          <label for="ward">Ward</label>
          <input type="text" class="form-control" formControlName="ward" [class.is-valid]="ward.dirty || ward.touched">
        </div>

        <div class="form-group">
          <label for="village">Village</label>
          <input type="text" class="form-control" formControlName="village" [class.is-valid]="village.dirty || village.touched">
        </div>

        <div class="form-group">
          <label for="district">District</label>
          <input type="text" class="form-control" formControlName="district" [class.is-valid]="district.dirty || district.touched">
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="postcode">Postcode</label>
              <input type="text" class="form-control" formControlName="postcode" [class.is-valid]="postcode.dirty || postcode.touched">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="region">Region</label>
              <input type="text" class="form-control" formControlName="region" [class.is-valid]="region.dirty || region.touched">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="country">Country</label>
          <select class="custom-select" formControlName="country" required [class.is-invalid]="country.invalid && (country.dirty || country.touched)"
            [class.is-valid]="country.valid">
            <option value="">Select Country</option>
            <option *ngFor="let countryName of countries" [value]="countryName">{{countryName}}</option>
          </select>
          <div class="invalid-feedback" *ngIf="country.invalid && (country.dirty || country.touched)">
            <p class="form-text text-danger" *ngIf="country.errors.required">This field is required</p>
          </div>
        </div>

        <div class="form-group">
          <label for="otherAddressDetails">Other Address Details</label>
          <textarea type="text" class="form-control" formControlName="otherAddressDetails" [class.is-valid]="otherAddressDetails.dirty || otherAddressDetails.touched"></textarea>
        </div>

        <div class="form-group">
          <label for="what3words">What3words</label>
          <input type="text" class="form-control" formControlName="what3words" [class.is-valid]="what3words.dirty || what3words.touched">
        </div>

      </fieldset>



      <div class="form-group">
        <label for="maxNumJobsAllowed">Max Number of Jobs Allowed</label>
        <input type="number" class="form-control" formControlName="maxNumJobsAllowed" [class.is-invalid]="maxNumJobsAllowed.invalid && (maxNumJobsAllowed.dirty || maxNumJobsAllowed.touched)"
          [class.is-valid]="maxNumJobsAllowed.valid">
        <div class="invalid-feedback" *ngIf="maxNumJobsAllowed.invalid && (maxNumJobsAllowed.dirty || maxNumJobsAllowed.touched)">
          <p class="form-text text-danger" *ngIf="maxNumJobsAllowed.errors.pattern">This field should only contain numbers</p>
          <p class="form-text text-danger" *ngIf="willingToTravel.errors.min">The minimum is 1 job</p>
        </div>
      </div>


      <div class="form-group">
        <label for="willingToTravel">Willing To Travel (in Km)</label>
        <input type="number" class="form-control" formControlName="willingToTravel" [class.is-invalid]="willingToTravel.invalid && (willingToTravel.dirty || willingToTravel.touched)"
          [class.is-valid]="willingToTravel.valid">
        <div class="invalid-feedback" *ngIf="willingToTravel.invalid && (willingToTravel.dirty || willingToTravel.touched)">
          <p class="form-text text-danger" *ngIf="willingToTravel.errors.pattern">This field should only contain numbers</p>
          <p class="form-text text-danger" *ngIf="willingToTravel.errors.min">The minimum is 1 Km</p>
        </div>
      </div>

      <div class="form-group">
        <label for="userPhoto">Photo</label>
        <input type="file" class="form-control" formControlName="userPhoto">
      </div>

      <div class="form-group" *ngIf="acreditToInstall">
        <label for="acreditToInstall">Accredited to Install</label>
        <div class="form-check" *ngFor="let skill of acreditToInstall.controls; let i = index">
          <input class="form-check-input" type="checkbox" [formControl]="skill" [value]="accreditedSkills[i].name">
          <label class="form-check-label">{{accreditedSkills[i].label}}</label>
        </div>
      </div>

      <div class="form-group" *ngIf="acreditedToFix">
        <label for="acreditedToFix">Accredited to Fix</label>
        <div class="form-check" *ngFor="let skill of acreditedToFix.controls; let i = index">
          <input class="form-check-input" type="checkbox" [formControl]="skill" [value]="accreditedSkills[i].name">
          <label class="form-check-label">{{accreditedSkills[i].label}}</label>
        </div>
      </div>

      <div class="form-group" *ngIf="specialistSkills">
        <label for="specialistSkills">Specialist Skills</label>
        <div class="form-check" *ngFor="let skill of specialistSkills.controls; let i = index">
          <input class="form-check-input" type="checkbox" [formControl]="skill" [value]="skillsList[i].name">
          <label class="form-check-label">{{skillsList[i].label}}</label>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid">Create</button>
      </div>
    </form>

  </div>
</div>
