<app-view-header title="Reset Password"></app-view-header>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <form class="mb-1" (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm">
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <div class="input-group">
        <input type="{{passwordShown ? 'password' : 'text'}}" class="form-control" formControlName="password" id="newPassword" aria-describedby="passwordHelp"
          placeholder="Enter a new password">

        <div class="input-group-append">
          <button class="btn" [class.btn-outline-secondary]="!passwordShown" [class.btn-secondary]="passwordShown" type="button" data-toggle="button"
            (click)="showPassword()">
            <i-eye *ngIf="passwordShown"></i-eye>
            <i-eye-off *ngIf="!passwordShown"></i-eye-off>
          </button>
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched) ">
        <p class="form-text text-danger" *ngIf="password.errors.required">Please enter a new password</p>
        <p class="form-text text-danger" *ngIf="password.errors.minlength">
          Needs at least
          <u>{{password.errors.minlength.requiredLength}}</u> characters.
          <b>{{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}}</b> to go</p>
      </div>
    </div>

    <div class="form-group">
      <label for="resetCode">Reset Code</label>
      <div class="input-group">
        <input type="text" class="form-control" formControlName="code" aria-describedby="codeHelp" placeholder="Enter the received code">

        <div class="alert alert-danger" *ngIf="code.invalid && (code.dirty || code.touched) ">
          <p class="form-text text-danger" *ngIf="code.errors.required">Please enter the code you received</p>
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Submit</button>
    </div>

    <a routerLink="/forgot-password">Code not received?</a>
  </form>
</div>