<app-view-header title="Forgot Password"></app-view-header>


<div class="mb-3">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="email-tab" data-toggle="tab" href="#emailTab" role="tab" aria-controls="email" aria-selected="true">E-mail</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="phone-tab" data-toggle="tab" href="#phoneTab" role="tab" aria-controls="phone" aria-selected="false">Phone Number</a>
    </li>
  </ul>
</div>
<div class="tab-content mb-3" id="myTabContent">
  <div class="tab-pane fade show active" id="emailTab" role="tabpanel" aria-labelledby="email-tab">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

      <form (ngSubmit)="onSubmit()" [formGroup]="emailForm">


        <div class="form-group">
          <input type="email" class="form-control" formControlName="email">

          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <p class="form-text text-danger" *ngIf="email.errors.email">Invalid format, please enter an email address. e.g. email@example.com</p>
            <p class="form-text text-danger" *ngIf="email.errors.minlength">
              Needs at least
              <u>{{email.errors.minlength.requiredLength}}</u> characters.
              <b>{{ email.errors.minlength.requiredLength - email.errors.minlength.actualLength}}</b> to go</p>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="emailForm.invalid">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <div class="tab-pane fade" id="phoneTab" role="tabpanel" aria-labelledby="phone-tab">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

      <form (ngSubmit)="onSubmit()" [formGroup]="phoneNumberForm">

        <div class="form-group">
          <input type="tel" class="form-control" formControlName="phoneNumber">

          <div class="alert alert-danger" *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
            <p class="form-text text-danger" *ngIf="phoneNumber.errors.pattern">Invalid format, please enter phone number in an international format, e.g. +441311111111</p>
            <p class="form-text text-danger" *ngIf="phoneNumber.errors.minlength">
              Needs at least
              <u>{{phoneNumber.errors.minlength.requiredLength}}</u> characters.
              <b>{{ phoneNumber.errors.minlength.requiredLength - phoneNumber.errors.minlength.actualLength}}</b> to go</p>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="phoneNumberForm.invalid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>