<app-view-header title="Dashboard"></app-view-header>

<app-loading *ngIf="loading"></app-loading>
<div class="row d-flex" *ngIf="dashboard">

	<div class="col-xs-12 col-sm-6 col-md-4 dashboard-box">
		<div class="dashboard-box-container">
			<p class="display-1">{{dashboard.plants}}</p>
			<p class="caption">No. Plants</p>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 dashboard-box">
		<div class="dashboard-box-container">
			<p class="display-1">{{dashboard.activePlants}}</p>
			<p class="caption">No. Active Plants</p>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 dashboard-box">
		<div class="dashboard-box-container">
			<p class="display-1">{{dashboard.faults}}</p>
			<p class="caption">Total Faults</p>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 dashboard-box">
		<div class="dashboard-box-container">
			<p class="display-1">{{dashboard.repairTime}}</p>
			<p class="caption">Avg. Repair time (Days)</p>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 dashboard-box">
		<div class="dashboard-box-container">
			<p class="display-1">{{dashboard.jobs}}</p>
			<p class="caption">Ongoing Jobs</p>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 dashboard-box">
		<div class="dashboard-box-container">
			<p class="display-1">{{dashboard.faultsFixed}}</p>
			<p class="caption">Faults Fixed</p>
		</div>
	</div>

</div>
