<ul class="list-group list-group-flush">
  <li class="list-group-item p-0">
    <table class="table table-bordered mb-0">
      <tbody>
        <tr *ngIf="plant.id">
          <th class="vertical-th">ID</th>
          <td>{{ plant.id }}</td>
        </tr>
        <tr *ngIf="plant.current_status">
          <th class="vertical-th">Status</th>
          <td>
            <app-plant-status [size]="'small'" [status]="plant.current_status"></app-plant-status>
          </td>
        </tr>
        <tr *ngIf="plant.sensor_status">
          <th class="vertical-th">Sensor Status</th>
          <td>
            <app-plant-status [size]="'small'" [status]="plant.sensor_status"></app-plant-status>
          </td>
        </tr>
        <tr>
          <th class="vertical-th">Owner</th>
          <td>
            {{ plant.owner ? plant.owner.fullName: 'Unknown' }}
          </td>
        </tr>
        <tr>
          <th class="vertical-th">Phone Number</th>
          <td>
            {{ plant.owner ? plant.owner.phone_number : 'Unknown' }}
          </td>
        </tr>
        <tr *ngIf="plant.what3words">
          <th class="vertical-th">Location (What3Words)</th>
          <td>
            {{ plant.what3words }}
          </td>
        </tr>
        <tr *ngIf="plant.type_biogas">
          <th class="vertical-th">Plant Type</th>
          <td>
            {{ plant.type_biogas }}
          </td>
        </tr>
        <tr *ngIf="plant.volume_biogas">
          <th class="vertical-th">Plant Volume</th>
          <td>
            {{ plant.volume_biogas }}
          </td>
        </tr>
        <tr *ngIf="plant.supplier">
          <th class="vertical-th">Supplier of Plant</th>
          <td>
            {{ plant.supplier }}
          </td>
        </tr>
        <tr *ngIf="plant.funding_souce">
          <th class="vertical-th">Funding Source</th>
          <td>
            {{ plant.funding_souce }}
          </td>
        </tr>
      </tbody>
    </table>
  </li>
  <li class="p-0">
    <!-- <app-jobs-table [plantId]="plant.id" [enableModal]="true"></app-jobs-table> -->
  </li>
</ul>
