<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <div>
    <h1 class="h2">{{title}}</h1>
    <app-progress-bar [current]="count" [total]="total"></app-progress-bar>
    <p>
      <b>{{count || 0}}</b>
      <small class="text-muted"> out of </small>
      <app-loading *ngIf="loading" [hideText]="true"></app-loading>
      <span *ngIf="!loading">{{total}}</span>
    </p>
  </div>

  <div *ngIf="link1 || link2" class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <a [routerLink]="'/'" class="btn btn-sm btn-outline-secondary" *ngIf="link1">{{link1text ? link1text : ''}}</a>
      <a [routerLink]="'/'" class="btn btn-sm btn-outline-secondary" *ngIf="link2">{{link2text ? link2text : ''}}</a>
    </div>
  </div>
</div>
