<div class="sb-progress-bar">
  <div class="progress" *ngIf="percentage < 100">
    <div class="progress-bar progress-bar-animated" role="progressbar" [class.bg-info]="percentage < 100" [class.bg-success]="percentage == 100"
      [style.width]="percentage + '%'" [attr.aria-valuenow]="percentage" [attr.aria-valuemin]="'0'" [attr.aria-valuemax]="'100'"></div>
  </div>
  <div class="text-muted small progress-update-percentage" *ngIf="percentage > 0 && percentage < 100 ">
    {{percentage + '%' || 0 + '%' || status}} loaded
  </div>
  <div class="text-muted small progress-update-date" *ngIf="percentage == 100">
    <small>{{status}}</small>
  </div>
</div>
