<nav id="main-nav" class="navbar navbar-dark navbar-expand-sm sticky-top p-0">

  <a class="navbar-brand" routerLink="/">
    <img src="/assets/images/logo.png">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav px-3 mr-0 ml-auto">
      <li class="nav-item text-nowrap">
        <button class="nav-link nav-logout-link" *ngIf="isAuthenticated" (click)="logOut()">Log Out
          <i-log-out></i-log-out>
        </button>
      </li>
    </ul>
  </div>
</nav>
