<app-technicians-header [title]="'Technicians'"></app-technicians-header>

<div class="list-table-header d-flex justify-content-between">
  <div>
  </div>
  <div>
    <button class="btn-icon pre-header-button" [class.active]="density=='default'" (click)="setDensity('default')" data-toggle="tooltip"
      data-placement="top" title="Default">
      <i-menu></i-menu>
    </button>
    <button class="btn-icon pre-header-button" [class.active]="density=='condensed'" (click)="setDensity('condensed')" data-toggle="tooltip"
      data-placement="top" title="Condensed">
      <i-align-justify></i-align-justify>
    </button>
  </div>
</div>

<table *ngIf="technicians" class="table table-hover list-table mb-0" [class.table-sm]="density == 'condensed'">
  <thead class="sticky-top">
    <tr>
      <th class="d-none d-sm-table-cell" scope="col">ID</th>
      <th class="d-none d-sm-table-cell" scope="col">Name</th>
      <th class="d-none d-sm-table-cell" scope="col">Status</th>
      <th class="d-none d-sm-table-cell" scope="col">Country</th>
      <th class="d-none d-sm-table-cell" scope="col">Phone</th>
      <th class="d-none d-sm-table-cell" scope="col">Jobs</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let technician of technicians | paginate: { currentPage: currentPage, itemsPerPage: itemsPerPage }" routerLink="/technicians/{{technician.id}}">
      <td class="d-none d-sm-table-cell">{{ technician.id }}</td>
      <td>
        <h6 class="mb-0">
          <b>{{ technician.fullName }}</b>
          <app-technician-status [size]="'small'" [status]="technician.status" class="d-sm-none"></app-technician-status>
        </h6>
      </td>
      <td class="d-none d-sm-table-cell">
        <app-technician-status [size]="'small'" [status]="technician.status"></app-technician-status>
      </td>
      <td class="">{{ technician.country ? technician.country : 'Unknown' }}</td>
      <td class="d-none d-sm-table-cell small">{{ technician.phone_number }}</td>
      <td class="d-none d-sm-table-cell">{{ technician.number_jobs_active }}</td>
    </tr>
  </tbody>
</table>


<div class="table-pagination border-top" *ngIf="itemCount > itemsPerPage">
  <pagination-controls (pageChange)="onPageChange($event)" [maxSize]="0"></pagination-controls>
  <div class="small">
    Page {{ currentPage }} /
    <span class="text-muted">{{ totalPages }}</span>
  </div>
</div>

<div class="text-center mt-3">
  <app-loading *ngIf="loading" text="Loading Technicians"></app-loading>
</div>
