<app-jobs-header [title]="'Job Details'"></app-jobs-header>
<table class="table table-bordered mb-0">
  <tbody>
    <tr *ngIf="job.job_id">
      <th class="vertical-th">ID</th>
      <td>{{ job.id }}</td>
    </tr>
    <tr>
      <th class="vertical-th">Status</th>
      <td>
        <app-job-status [status]="job.job_status" [size]="'small'"></app-job-status>
      </td>
    </tr>
    <tr *ngIf="job.plant_id">
      <th class="vertical-th">Plant</th>
      <td>
        <button class="btn-link" [routerLink]="['/plants/', job.plant_id]">
          <b>{{job.plant_name || 'Plant'}}</b> {{ job.plant_id }}
        </button>
      </td>
    </tr>
    <tr *ngIf="job.constructing_tech[0]">
      <th class="vertical-th">Technician ID</th>
      <td>{{ job.constructing_tech[0].id }}</td>
    </tr>
    <tr *ngIf="job.date_flagged">
      <th class="vertical-th">Date Flagged</th>
      <td>{{ job.date_flagged ? (job.date_flagged | date) : '' }}</td>
    </tr>
    <tr *ngIf="job.due_date">
      <th class="vertical-th">Overdue Date</th>
      <td>{{ job.due_date ? (job.due_date | date) : '' }}</td>
    </tr>
    <tr *ngIf="job.install_date">
      <th class="vertical-th">Install Date</th>
      <td>{{ job.install_date ? (job.install_date | date) : '' }}</td>
    </tr>
    <tr *ngIf="job.fault_description">
      <th class="vertical-th">Issue Identitfied</th>
      <td>{{ job.fault_description }}</td>
    </tr>
    <tr *ngIf="job.other">
      <th class="vertical-th">Additional Information</th>
      <td>{{ job.other }}</td>
    </tr>
  </tbody>
</table>
