<div>
  <div class="text-center small">

    <app-loading *ngIf="loading" [hideText]="true"></app-loading>
    <button class="btn btn-sm btn-link m-auto text-muted small" (click)="requestRefresh()" data-toggle="tooltip" data-placement="top"
      title="Refresh" [hidden]="loading">
      <i-refresh-cw></i-refresh-cw>
    </button>

    <button class="btn btn-sm btn-link m-auto text-muted small" (click)="requestFetch()" data-toggle="tooltip" data-placement="top"
      title="Fetch more" [hidden]="count >= total" [disabled]="loading">
      <i-download-cloud></i-download-cloud>
    </button>

    <div>
      <b>{{count || 0}}</b>
      <small class="text-muted"> out of </small>
      <span>
        <app-loading *ngIf="loadingMeta" [hideText]="true"></app-loading>
        <span>{{total}}</span>
      </span>
    </div>

  </div>

  <app-progress-bar [current]="count" [total]="total"></app-progress-bar>
</div>
