<table *ngIf="jobs" [class.table-hover]="selectable" class="table table-sm">
  <thead>
    <tr>
      <th class="" scope="col">ID</th>
      <th scope="col">Date Flagged</th>
      <th class="" scope="col">Fault Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let job of jobs" (click)="select(job)" [class.bg-light]="selectable && selectedJob == job" data-toggle="modal" data-target="#jobDetailModal">
      <td>
        <app-job-status [status]="job.job_status" [size]="'small'"></app-job-status>
      </td>
      <td>
        {{ job.date_flagged ? (job.date_flagged | date) : '' }}
      </td>
      <td>
        {{ job.fault_description ? job.fault_description.substring(0, 30) + '...' : '' }}
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="selectedJob">
  <app-job-detail-modal [job]="selectedJob" *ngIf="enableModal"></app-job-detail-modal>
</div>