<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-3">
        <img [src]="technician.user_photo ? technician.user_photo : '/assets/images/missing-user-photo.svg'" [alt]="technician.getFullName()"
          class="user-photo">
      </div>
      <div class="col-sm-9 d-flex flex-column justify-content-sm-center">
        <h1 class="h5">{{ technician.getFullName() }}</h1>
        <h2 class="h6 text-muted">{{ technician.country ? technician.country : 'Unknown Country' }}</h2>
        <app-technician-status [size]="'small'" [status]="technician.status"></app-technician-status>
      </div>
    </div>
  </li>

  <li class="list-group-item p-0">
    <table class="table table-sm">
      <tbody>
        <tr *ngIf="technician.id">
          <th>ID</th>
          <td>{{ technician.id }}</td>
        </tr>
        <tr *ngIf="technician.getFullName">
          <th>Name</th>
          <td>{{ technician.getFullName() }}</td>
        </tr>
        <tr *ngIf="technician.phone_number">
          <th>Phone Number</th>
          <td>{{ technician.phone_number }}</td>
        </tr>
        <tr *ngIf="technician.getAddress">
          <th>Address</th>
          <td>{{ technician.getAddress() }}</td>
        </tr>
        <tr *ngIf="technician.location">
          <th>Operating Location</th>
          <td>{{ technician.location }}</td>
        </tr>
        <tr *ngIf="technician.acredit_to_install">
          <th>Accreditted Skills</th>
          <td>{{ technician.acredit_to_install }}</td>
        </tr>
        <tr *ngIf="technician.acredit_to_install">
          <th>Languages Spoken</th>
          <td>{{ technician.acredit_to_install }}</td>
        </tr>
        <tr *ngIf="technician.datetime_created">
          <th>Joining Date</th>
          <td>{{ technician.datetime_created | date }}</td>
        </tr>
        <tr *ngIf="jobs">
          <th>Jobs</th>
          <td></td>
        </tr>
      </tbody>
    </table>
  </li>
  <li class="p-0">
    <app-loading *ngIf="loadingJobs"></app-loading>
    <app-jobs-table [jobs]="jobs" [enableModal]="true"></app-jobs-table>
  </li>
</ul>

