<app-view-header title="Technicians"></app-view-header>
<app-loading *ngIf="loading"></app-loading>

<div class="row" *ngIf="technicians">
  <div class="col-sm-5">
    <div class="card">
      <div class="card-header">
        Technicians
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th class="d-xs-none" scope="col">Phone Number</th>
              <th class="d-xs-none" scope="col">Country</th>
              <th class="d-xs-none" scope="col">Jobs</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let technician of technicians" (click)="selectTechnician(technician)">
              <td scope="row">
                <span [class.badge-danger]="!technician.status" [class.badge-success]="technician.status" class="badge badge-pill">&nbsp;</span> {{ technician.getFullName() }}</td>
              <td class="d-xs-none">{{ technician.phone_number }}</td>
              <td class="d-xs-none">{{ technician.country }}</td>
              <td class="d-xs-none">{{ technician.number_jobs_active }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
	</div>
	
  <div class="col-sm-7" *ngIf="selectedTechnician">
		<app-technician-detail [technician]="selectedTechnician"></app-technician-detail>
	</div>

</div>
