<app-technicians-header [title]="'Add Technician'"></app-technicians-header>

<div class="card">
  <div class="card-body" *ngIf="form">

    <form [formGroup]="form" (submit)="onSubmit()">

      <fieldset class="form-group">
        <legend>User Details</legend>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input type="text" class="form-control" formControlName="first_name" required [class.is-invalid]="first_name.invalid && (first_name.dirty || first_name.touched)"
                [class.is-valid]="first_name.valid">
              <app-form-errors [formInput]="first_name"></app-form-errors>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="last_name">Last Name</label>
              <input type="text" class="form-control" formControlName="last_name" required [class.is-invalid]="last_name.invalid && (last_name.dirty || last_name.touched)"
                [class.is-valid]="last_name.valid">
              <app-form-errors [formInput]="last_name"></app-form-errors>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="mobile">Mobile Number</label>
          <div class="input-group">
            <div class="input-group-prepend" [class.was-validated]="phoneNumberPrefix.value !== ''">
              <app-country-calling-code-dropdown (selected)="phoneNumberPrefix.setValue($event)"></app-country-calling-code-dropdown>
            </div>
            <input type="tel" class="form-control" formControlName="mobile" required [class.is-invalid]="mobile.invalid && (mobile.dirty || mobile.touched)"
              [class.is-valid]="mobile.valid" placeholder="E.g. 1234567890">
          </div>
          <app-form-errors [formInput]="mobile"></app-form-errors>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" formControlName="email" required [class.is-invalid]="email.invalid && (email.dirty || email.touched)"
            [class.is-valid]="email.valid">
          <app-form-errors [formInput]="email"></app-form-errors>
        </div>


        <div class="form-group">
          <label for="username">Username</label>
          <select class="custom-select" formControlName="username" required [class.is-invalid]="username.invalid && (username.dirty || username.touched)"
            [class.is-valid]="username.valid">
            <option [value]="email.value" *ngIf="email && email.valid">{{email.value}}</option>
            <option [value]="phone" *ngIf="mobile && mobile.valid">{{phone}}</option>
          </select>
          <app-form-errors [formInput]="username"></app-form-errors>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password" required [class.is-invalid]="password.invalid && (password.dirty || password.touched)"
            [class.is-valid]="password.valid">
          <app-form-errors [formInput]="password"></app-form-errors>
        </div>



        <div class="form-group">
          <label for="status">Status</label>
          <select class="custom-select" formControlName="status" required [class.is-invalid]="status.invalid && (status.dirty || status.touched)"
            [class.is-valid]="status.valid">
            <option value="true" selected>Active</option>
            <option value="false">Inactive</option>
          </select>
          <app-technician-status [status]="status.value" [size]="'small'"></app-technician-status>
          <app-form-errors [formInput]="status"></app-form-errors>
        </div>

        <div class="form-group">
          <label for="role">Role</label>
          <select class="custom-select" formControlName="role" [class.is-valid]="role.dirty || role.touched">
            <option value="1" selected>Technician</option>
            <option value="2">Admin</option>
          </select>
        </div>

        <div class="form-group">
          <label for="languages_spoken">Languages Spoken</label>
          <input type="text" class="form-control" formControlName="languages_spoken" [class.is-valid]="languages_spoken.dirty || languages_spoken.touched">
          <small class="form-text text-muted">Comma separated, e.g.
            <i>Spanish, English, Italian</i>
          </small>
        </div>

      </fieldset>



      <fieldset class="form-group">
        <legend>Address Details</legend>

        <div class="form-group">
          <label for="ward">Ward</label>
          <input type="text" class="form-control" formControlName="ward" [class.is-valid]="ward.dirty || ward.touched">
        </div>

        <div class="form-group">
          <label for="village">Village</label>
          <input type="text" class="form-control" formControlName="village" [class.is-valid]="village.dirty || village.touched">
        </div>

        <div class="form-group">
          <label for="district">District</label>
          <input type="text" class="form-control" formControlName="district" [class.is-valid]="district.dirty || district.touched">
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="postcode">Postcode</label>
              <input type="text" class="form-control" formControlName="postcode" [class.is-valid]="postcode.dirty || postcode.touched">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="region">Region</label>
              <input type="text" class="form-control" formControlName="region" [class.is-valid]="region.dirty || region.touched">
              <app-form-errors [formInput]="region"></app-form-errors>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="country">Country</label>
          <select class="custom-select" formControlName="country" required [class.is-invalid]="country.invalid && (country.dirty || country.touched)"
            [class.is-valid]="country.valid">
            <option value="">Select Country</option>
            <option *ngFor="let countryName of countries" [value]="countryName">{{countryName}}</option>
          </select>
          <app-form-errors [formInput]="country"></app-form-errors>
        </div>

        <div class="form-group">
          <label for="other_address_details">Other Address Details</label>
          <textarea type="text" class="form-control" formControlName="other_address_details" [class.is-valid]="other_address_details.dirty || other_address_details.touched"></textarea>
        </div>

        <div class="form-group">
          <label for="what3words">What3words</label>
          <input type="text" class="form-control" formControlName="what3words" [class.is-valid]="what3words.dirty || what3words.touched">
          <app-form-errors [formInput]="what3words"></app-form-errors>
        </div>

      </fieldset>



      <div class="form-group">
        <label for="max_num_jobs_allowed">Max Number of Jobs Allowed</label>
        <input type="number" class="form-control" formControlName="max_num_jobs_allowed" [class.is-invalid]="max_num_jobs_allowed.invalid && (max_num_jobs_allowed.dirty || max_num_jobs_allowed.touched)"
          [class.is-valid]="max_num_jobs_allowed.valid">
        <app-form-errors [formInput]="max_num_jobs_allowed"></app-form-errors>

      </div>


      <div class="form-group">
        <label for="willing_to_travel">Willing To Travel (in Km)</label>
        <input type="number" class="form-control" formControlName="willing_to_travel" [class.is-invalid]="willing_to_travel.invalid && (willing_to_travel.dirty || willing_to_travel.touched)"
          [class.is-valid]="willing_to_travel.valid">
        <app-form-errors [formInput]="willing_to_travel"></app-form-errors>
      </div>

      <div class="form-group" *ngIf="acredit_to_install">
        <label for="acredit_to_install">Accredited to Install</label>
        <div class="form-check" *ngFor="let skill of acredit_to_install.controls; let i = index">
          <input class="form-check-input" type="checkbox" [formControl]="skill" [value]="accreditedSkills[i].name">
          <label class="form-check-label">{{accreditedSkills[i].label}}</label>
        </div>
      </div>

      <div class="form-group" *ngIf="acredited_to_fix">
        <label for="acredited_to_fix">Accredited to Fix</label>
        <div class="form-check" *ngFor="let skill of acredited_to_fix.controls; let i = index">
          <input class="form-check-input" type="checkbox" [formControl]="skill" [value]="accreditedSkills[i].name">
          <label class="form-check-label">{{accreditedSkills[i].label}}</label>
        </div>
      </div>

      <div class="form-group" *ngIf="specialist_skills">
        <label for="specialist_skills">Specialist Skills</label>
        <div class="form-check" *ngFor="let skill of specialist_skills.controls; let i = index">
          <input class="form-check-input" type="checkbox" [formControl]="skill" [value]="skillsList[i].name">
          <label class="form-check-label">{{skillsList[i].label}}</label>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Create</button>
        <!-- <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid">Create</button> -->
      </div>
    </form>

  </div>
</div>
