<app-plants-header [title]="'Plants'"></app-plants-header>

<button class="btn btn-sm btn-outline-secondary mb-3" (click)="currentViewList  = !currentViewList">
  <i-map *ngIf="currentViewList"></i-map>
  <i-list *ngIf="!currentViewList"></i-list> {{currentViewList ? 'View Map' : 'View List'}}
</button>

<app-plants-table *ngIf="currentViewList" [loading]="loading" [plants]="plants" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
  [totalPages]="totalPages" [itemCount]="itemCount" [currentPage]="currentPage" (pageChanged)="onPageChange($event)"></app-plants-table>
<app-plants-map *ngIf="!currentViewList" [loading]="loading" [plants]="plants" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
  [totalPages]="totalPages" [itemCount]="itemCount" [currentPage]="currentPage" (pageChanged)="onPageChange($event)"></app-plants-map>
