<div *ngIf="card && !card.isNew" class="dashboard-card" (click)="navigate()">
  <div class="dashboard-card-container">
    <p class="display-1">{{card.value || '??'}}</p>
    <h5>
      <span class="inline-card-icon">
        <i-alert-triangle *ngIf="card.template.card_type === 'Alert'"></i-alert-triangle>
        <i-info *ngIf="card.template.card_type !== 'Alert'"></i-info>
      </span>
      <span> {{card.template.title}}</span>
    </h5>
    <p class="caption small">{{card.template.description}}</p>
    <button class="card-action-button btn btn-link text-white">See {{card.template.entityName}}
      <i-arrow-right-circle></i-arrow-right-circle>
    </button>
  </div>
</div>

<div *ngIf="card.isNew" class="dashboard-card empty-card" (click)="create()">
  <div class="dashboard-card-container">
    <div class="display-1">+</div>
    <div class="caption">Add New</div>
  </div>
</div>
