<app-loading *ngIf="loading"></app-loading>
<div *ngIf="technician && !loading" class="technician-details">
  <app-technicians-header [title]="technician.fullName"></app-technicians-header>


  <div class="media">
    <app-image [src]="technician.user_photo" [alt]="technician.fullName" [classes]="'img-rounded align-self-center mr-3'" style="height: 150px; width: 150px;"></app-image>

    <div class="media-body">
      <h1 class="mt-0">{{ technician.fullName }}</h1>
      <h2 class="h6 text-muted">{{ technician.country ? technician.country : 'Unknown Country' }}</h2>
      <app-technician-status [size]="'small'" [status]="technician.status"></app-technician-status>
    </div>
  </div>

  <ul class="list-group list-group-flush list-unstyled">
    <li class="list-group-item p-0">
      <table class="table table-bordered mb-0">
        <tbody>
          <tr *ngIf="technician.id">
            <th class="vertical-th">ID</th>
            <td>{{ technician.id }}</td>
          </tr>
          <tr *ngIf="technician.phone_number">
            <th class="vertical-th">Phone Number</th>
            <td>{{ technician.phone_number }}</td>
          </tr>
          <tr *ngIf="technician.getAddress">
            <th class="vertical-th">Address</th>
            <td>{{ technician.getAddress() }}</td>
          </tr>
          <tr *ngIf="technician.location">
            <th class="vertical-th">Operating Location</th>
            <td>{{ technician.location }}</td>
          </tr>
          <tr *ngIf="technician.acredit_to_install">
            <th class="vertical-th">Accreditted Skills</th>
            <td>{{ technician.acredit_to_install }}</td>
          </tr>
          <tr *ngIf="technician.languages_spoken">
            <th class="vertical-th">Languages Spoken</th>
            <td>{{ technician.languages_spoken }}</td>
          </tr>
          <tr *ngIf="technician.datetime_created">
            <th class="vertical-th">Joining Date</th>
            <td>{{ technician.datetime_created | date }}</td>
          </tr>
          <tr *ngIf="jobs">
            <th class="vertical-th">Jobs</th>
            <td></td>
          </tr>
        </tbody>
      </table>
    </li>
  </ul>

  <div>
    <h2>Jobs</h2>
    <!-- <app-jobs-table [enableModal]="true" [technicianId]="technician.id"></app-jobs-table> -->
  </div>
</div>
