<nav *ngIf="isAuthenticated" class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">
          <i-layers></i-layers>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/plants">
          <i-compass></i-compass>
          Plants
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/technicians">
          <i-users></i-users>
          Technicians
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/jobs">
          <i-truck></i-truck>
          Jobs
        </a>
      </li>
    </ul>
  </div>
</nav>
