<div class="list-table-header d-flex justify-content-between">
  <div>
  </div>
  <div>
    <button class="btn-icon pre-header-button" [class.active]="density=='default'" (click)="setDensity('default')" data-toggle="tooltip"
      data-placement="top" title="Default">
      <i-menu></i-menu>
    </button>
    <button class="btn-icon pre-header-button" [class.active]="density=='condensed'" (click)="setDensity('condensed')" data-toggle="tooltip"
      data-placement="top" title="Condensed">
      <i-align-justify></i-align-justify>
    </button>
  </div>
</div>

<table *ngIf="plants" class="table table-hover list-table mb-0" [class.table-sm]="density == 'condensed'">
  <thead class="bg-light">
    <tr>
      <th scope="col">ID</th>
      <th class="" scope="col">Status</th>
      <th scope="col">Type/Model</th>
      <th class="" scope="col">QP</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let plant of plants | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }"
      [routerLink]="['/plants/', plant.id]">
      <td>{{plant.id}}</td>
      <td>
        <app-plant-status [size]="'small'" [status]="plant.current_status"></app-plant-status>
      </td>
      <td>{{ plant.type_biogas ? plant.type_biogas : 'Unknown' }}</td>
      <td>{{ plant.QP_status ? plant.QP_status : 'Unknown' }}</td>
    </tr>
  </tbody>
</table>


<div class="table-pagination border-top" *ngIf="totalItems > itemsPerPage">
  <pagination-controls (pageChange)="onPageChange($event)" [maxSize]="0"></pagination-controls>
  <div class="small">
    Page {{ currentPage }} /
    <span class="text-muted">{{ totalPages }}</span>
  </div>
</div>

<div class="text-center mt-3">
  <app-loading *ngIf="loading" text="Loading Plants"></app-loading>
</div>
