<agm-map [latitude]="initialLat" [longitude]="initialLng" *ngIf="plants" [styles]="mapStyles" [zoom]="zoom">
  <agm-marker *ngFor="let plant of plants | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems, id: 'plantsMapList' }"
    [latitude]="plant.lat" [longitude]="plant.lng" [iconUrl]="plant.mapMarkerIcon" (markerClick)="select(plant)"></agm-marker>
</agm-map>

<div class="table-pagination border-top" *ngIf="itemCount > itemsPerPage">
  <pagination-controls (pageChange)="onPageChange($event)" [maxSize]="0"></pagination-controls>
  <div class="small">
    Page {{ currentPage }} /
    <span class="text-muted">{{ totalPages }}</span>
  </div>
</div>

<div class="text-center mt-3">
  <app-loading *ngIf="loading" text="Loading Plants"></app-loading>
</div>
