<div class="list-table-header d-flex justify-content-between">
  <div>
  </div>
  <div>
    <button class="btn-icon pre-header-button" [class.active]="density=='default'" (click)="setDensity('default')" data-toggle="tooltip"
      data-placement="top" title="Default">
      <i-menu></i-menu>
    </button>
    <button class="btn-icon pre-header-button" [class.active]="density=='condensed'" (click)="setDensity('condensed')" data-toggle="tooltip"
      data-placement="top" title="Condensed">
      <i-align-justify></i-align-justify>
    </button>
  </div>
</div>

<table *ngIf="items" [class.table-hover]="selectable" class="table list-table mb-0" [class.table-hover]="selectable" [class.table-sm]="density == 'condensed'">
  <thead class="sticky-top">
    <tr>
      <th scope="col">Details</th>
      <th scope="col">Flagged</th>
      <th scope="col">Due</th>
      <th scope="col">Complete</th>
      <th scope="col">Fault Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let job of items | paginate: { currentPage: currentPage, itemsPerPage: itemsPerPage }" [routerLink]="['/jobs/',job.id]">
      <td>
        <h6 class="mb-0">
          <b>
            {{ job.fault_class ? job.fault_class : 'UNKNOWN' }}</b>
          <br>
          <app-job-status [status]="job.job_status" [size]="'small'"></app-job-status>
        </h6>
      </td>
      <td class="small">
        {{ job.date_flagged ? (job.date_flagged | date) : 'Unknown' }}
      </td>
      <td class="small">
        {{ job.due_date ? (job.due_date | date) : 'Unknown' }}
      </td>
      <td class="small">
        {{ !!job.completed }}
      </td>
      <td>
        {{ job.fault_description ? job.fault_description.substring(0, 50) + '...' : 'N/A' }}
      </td>
    </tr>
  </tbody>
</table>

<div class="text-center mt-3">
  <app-loading *ngIf="loading" text="Loading Jobs"></app-loading>
</div>


<div class="table-pagination border-top">
  <pagination-controls (pageChange)="onPageChange($event)" [maxSize]="0"></pagination-controls>
  <div class="small">
    Page {{ currentPage }} /
    <span class="text-muted">{{ totalPages }}</span>
  </div>
</div>
