<app-view-header title="Dashboard"></app-view-header>
<div *ngIf="selectingTemplate && !loadingTemplates" class="mb-4">
  <div class="d-flex justify-content-between align-items-center flex-wrap">
    <h3 class="text-muted">Select Template</h3>
    <button *ngIf="!loading && !loadingTemplates" class="btn btn-outline-secondary" (click)="resetSelection()">Cancel</button>
  </div>
</div>
<app-loading *ngIf="loading" [text]="loadingText"></app-loading>

<div *ngIf="!loading && !loadingTemplates">
  <div *ngIf="!selectingTemplate">
    <div class="row d-flex" *ngIf="cards">
      <app-card *ngFor="let card of cards ; index as i" class="col-xs-12 col-sm-6 col-md-4" [card]="card" [position]="i + 1" draggable
        [dragData]="i" droppable (onDrop)="onDrop($event,i)" (onDragStart)="onDragStart($event)"></app-card>

      <app-card class="col-xs-12 col-sm-6 col-md-4" (addCard)="selectTemplate($event)" [card]="emptyCard"></app-card>
    </div>
  </div>

  <div *ngIf="selectingTemplate && !loading">
    <div class="row d-flex" *ngIf="cardTemplates && !loading">
      <app-card-template *ngFor="let template of cardTemplates ; index as i" class="col-xs-12 col-sm-6 col-md-4" [template]="template"
        (templateSelected)="addCard($event)"></app-card-template>
    </div>
  </div>

</div>
