// Vars
$font-size-base: 0.875rem

@import 'node_modules/bootstrap/scss/bootstrap'

#main-nav .navbar-brand
	padding: 0
	> img
		height: 33px
		margin: auto
		margin-left: 15px

	.logout
		cursor: pointer

.feather
	width: 16px !important
	height: 16px !important
	vertical-align: text-bottom !important